:root {
    --accent-color:  #333333;
    --accent-hover:  #242424;
    --secondary-color: #f2f2f2;
    --danger-color: #ff4d4d;
}


/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Table styles */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

.table th {
    background-color: var(--accent-color);
    color: white;
}

.table tr:nth-child(even) {
    background-color: var(--secondary-color)
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: var(--secondary-color);
    color: #333;
    line-height: 1.6;
}

/* Headings */
h1, h2, h3 {
    margin-bottom: 10px;
    color: #222;
}
.center {
    text-align: center;
}

/* Links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Buttons */
button {
    padding: 10px 20px;
    background-color: var(--accent-color);
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: var(--accent-hover)
}

/* Forms */
input, select, textarea {
    padding: 8px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

/* Containers */
.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Dashboard specific */
.dashboard-welcome {
    margin-bottom: 20px;
}

/* Navbar */
.navbar {
    background-color: var(--accent-color);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

.logout-form {
    margin-left: auto; /* push logout button to the right */
}

.logout-form button {
    background-color: #ff4d4d;
}

.logout-form button:hover {
    background-color: #cc0000;
}

